<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
</head>
<body>
	<h1>Hello, {{userinfo.fname}}!</h1>
	<p>Not you? Please <a href='/logout'>logout</a></p>
	<form action='/secretsubmit' method='post'>
		{% csrf_token %}
		<textarea name='secrettext' rows='10' cols='30'>Your secret here...</textarea><br/>
		<input type="submit" name="post">
	</form>

	<a href="/popularsecrets">Most Popular Secrets...</a>
	<a href="/mysecrets">My Secrets...</a>
	<a href="/otherssecrets">Other's Secrets...</a>
	<br/>
	
	{% for secret in 10recentsecrets %}
		<p>{{secret.secrettext}} ({{secret.created_at|timesince}} ago) {{secret.likes.count}} <i>likes</i></p>

		{% if secret in userlikes %}
			<p><b>You have liked this</b></p>
		{% else %}
			<a href='/likesecret{{secret.id}}'>Like</a>
		{% endif %}

		{% if secret.user.id == request.session.userid %}
			<p><b>You posted this</b></p>
			<a href='/deletesecret{{secret.id}}'>delete</a>
		{% endif %}
	{% endfor %}
</body>
</html>