<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
</head>
<body>
	
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{message}}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<fieldset>
		<legend>Register</legend>
		<form action='/register' method='post'>
			{% csrf_token %}
			First Name:<input type="text" name="fname"><br/>
			Last Name:<input type="text" name="lname"><br/>
			Email:<input type="email" name="email"><br/>
			Birthday:<input type="date" name="bday"><br/>
			Password:<input type="password" name="password"><br/>
			Confirm Password:<input type="password" name="confirm"><br/>
			<input type="submit" name="Register">
		</form>
	</fieldset>

	<fieldset>
		<legend>Log In</legend>
		<form action='/login' method='post'>
			{% csrf_token %}
			Email:<input type="email" name="email"><br/>
			Password:<input type="password" name="password"><br/>
			<input type="submit" name="Log In">
		</form>
	</fieldset>

</body>
</html>