<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
</head>
<body>
	<h1>Others' Secrets...</h1>
	<a href='/secrets'>Back</a>

	{% for secret in otherssecrets %}
		<p>{{secret.secrettext}} ({{secret.created_at}}) {{secret.likes.count}} <i>likes</i></p>

		{% if secret in userlikes %}
			<p><b>You have liked this</b></p>
		{% else %}
			<a href='/likesecret{{secret.id}}'>Like</a>
		{% endif %}

		{% if secret.user.id == request.session.userid %}
			<p><b>You posted this</b></p>
			<a href='/deletesecret{{secret.id}}'>delete</a>
		{% endif %}
	{% endfor %}

</body>
</html>